@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

/* SEARCH BOX */

.research {
    border-radius: 1em;
    height: 2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.button-submit {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    border-radius: 1em;
}

#searchbox {
    display: flex;
}

/* BUTTON */

.button-62 {
  background: linear-gradient(to bottom right, #d9d8d8, #626262);
  border: 0;
  border-radius: 12px;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #d9d8d8, .125rem .125rem 1rem #62626287;
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #d9d8d8, .125rem .125rem 1rem #62626287;
}

body{
    background-color: #646464;
    font-family: Arial;
}


a{text-decoration: none; color:rgb(255, 255, 255);}
a:hover{text-decoration: underline;}

body>header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c;
    display:flex;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;

}
body>header img{
    height: 6em;
    padding-left: 5em;
    margin-top: 0.2em;
}

#title{
    color: #fff;
    font-size: 3em;
    font-family: 'Tangerine', cursive;
    margin: 0em;
    margin-top: 0.2em;
    text-shadow: 2px 2px #d7d7d78e;
}

body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 1px solid #2c2c2c;
}
body>header #menu a{
    flex:1;
    text-align: center;
    padding-top:2em;
    border-right: 1px solid #2c2c2c;
    margin-left: 6em;
}
body>header a:hover
{
    background-color: #2c2c2c;
}
body>header ul{list-style: none;}
body>header #user
{
    margin-left: auto;
    flex:0.2;
    border-left: 1px solid #2c2c2c;
}
body>header #user>a {
    display: block;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    margin-right: 7em;
    margin-top: 0.5em;
}

body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-1em;
    background-color: #2c2c2c;
    border: 1px solid #7b7b7b;
    z-index: 1;
    border-radius: 20px;
}
body>header #user ul li a{
    display:block;
    width:7.5em;
    padding:1em;

}
body>header #user:hover ul{
    display:block;
}

.parchemin{

        position: relative;
        background-image: url(./assets/Parchemin.jpeg);
        padding: 2rem;
        text-align: center;
        max-width: 200px;
        margin: 1em;
        margin-left: 1em;
        padding-bottom: 3em;

}

.marginLeft{
    margin-left: 6em;
}



#wrapper{
    padding-top: 8em;
    top: 7em;
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: #ffffff;
    flex:1;
    padding:1em;
    border-radius: 1em;    
}
#wrapper aside .cercle{
    display: block;
    width:50%;
    margin:auto;
    border-radius: 50%;
    border: rgb(255, 255, 255);
    background-color: #ffffff;
    background-image: url(./assets/cercle.webp);
    padding:3em;
    margin-bottom: 3em ;
    box-shadow: none;
}
#wrapper aside #weatherIcon{
    display: block;
    width:50%;
    margin-left: 1em;
    border-radius: 50%;
    border: black;
    margin-left: 6.6em;
    padding-bottom: 3em;
    margin-top: 1em;
}

#wrapper aside #weather{
    margin-left: 7.5em;
}

#wrapper aside .meteo{
    background-image:none;
    background-color: white;
    /* border: solid 1px #b2aaaa; */
    margin-bottom: 2em ;
    border-radius: 20px;
    margin-top: 3em;
}

#wrapper aside .meteo h4{
    margin-left: 5.3em;
}

#wrapper main{
    flex:3;
    padding-left:3em;
    height: 100vh;
    overflow-y:  scroll;
}
#wrapper main article{
    background-image: none;
    background-color: white;
    padding:2em;
    margin-bottom: 3em ;
    box-shadow: 8px 8px 12px #2b2a2a;
}

#wrapper main .papier{
    background-image: none;
    background-color: #ffffff;
    padding:1em;
    margin-bottom: 3em ;
    border-radius: 20px;
    box-shadow: none;
}

#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}



pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:45em;height: 5em ;}

.post_author{
    color:black;
}

.dark_link{
    color: black;
}

.like{
    font-size: 20px;
    position: relative;
    left: 20px;
    bottom: 0.3rem;
    right: 0px;
    height: 20px;
    width: 0px;

}


/* boutton envoyer message */
.button-55 {
  align-self: center;
  background-color: #e7c38c;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#weatherIcon {
    width: 35%;
    margin-left: -2.5em;
    margin-top: -1em;
}


/* boutton settings*/


.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 1.5em;
  justify-content: center;
  line-height: 0.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


/* PASSWORD PAGE */

.container-glob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
}

.container-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#form-container {
    margin: auto;

    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#password {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#submit-password {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
}

.deleteButton{
    font-size: 20px;
    position: relative;
    left: 35em;
    bottom: 1.7rem;
    right: 0px;
    height: 20px;
    width: 0px;
}



























